html, body {
  background-color: #e76a24 ;
  font-family: 'Press Start 2P', cursive ;
  font-size:  calc(0.7em + 0.6vw);
}

h1 {
  font-weight: 900;
  font-family: 'Press Start 2P', cursive ;
}

.card{
  background-color: #e76a24 ;
  border: none;
  margin-top: 50px;
}
.avatar{
  height:350px; 
  width: 350px; 
  background-color: #EFEFEF;
  margin: 10px;
}

.border {
  border: 5px solid #212529!important;
}
.btn-dark {
  background-color: #282c30;
  margin-bottom: 5px;
}

/* main{
  height: 85vh;
} */
footer {
  height: 15vh;
}